* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #f5f5f5;
}

#home_button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: auto;
    transition: 0.4s;
}

#home_button:hover {
    transform: rotate(20deg) scale(1.1);
}

#main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#main-container h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

label, input[type="number"] {
    font-size: 30px;
    margin-bottom: 20px;
}

#width-input, #length-input {
    margin-left: 20px;
}

#width-input {
    width: 420px;
}

#input-container {
    display: flex;
    flex-direction: column;
}

#calculate-button {
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background-color: #cf0091;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
}

#calculate-button:hover {
    transform: scale(1.05);
}

#result-container {
    display: flex;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}