* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

#main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#main-container h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#buttons-container a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 400px;
    padding: 20px 0;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.4s;
}

#buttons-container a:hover {
    transform: scale(1.05);
}